.clients {
  background-color: var(--color-merlin);
  &__container {
    display: flex;
    align-items: center;
    padding: 41px var(--container-offset);
  }
  &__content {
    max-width: 450px;
    margin-right: 140px;
  }
  &__uppertext {
    color: var(--color-ebb);
  }
  &__title {
    color: var(--color-light);
    margin-bottom: 14px;
  }
  &__descr {
    font-size: 15px;
    color: var(--color-ebb);
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 45px;
  }
  &__item {
    width: 45%;
    padding: 40px 0;
  }
  &__link {
    display: inline-block;
    width: 128px;
    height: 80px;
    svg {
      width: 100%;
      height: 100%;
      fill: var(--color-light);
      object-fit: cover;
    }
    &:hover {
      svg {
        fill: var(--color-silver);
      }
    }
  }
}
