.firm {
  background-color: var(--color-light);
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: var(--middle-offset) var(--container-offset);
  }
  &__title {
    width: 250px;
    color: var(--color-merlin);
    margin-right: 20px;
  }
  &__content {
    max-width: 500px;
    padding-bottom: 34px;
  }
  &__descr {
    margin-bottom: 10px;
  }
}
