.house {
  @include bg-cover;

  background-image: url("../img/house-bg.jpg");
  padding: 266px 75px;
  &__content {
    max-width: 285px;
    margin-left: auto;
  }
  &__title {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--color-merlin);
  }
  &__descr {
    color: var(--color-pine);
  }
}
