.phrase {
  @include bg-cover;
  background-color: var(--color-light);
  padding: 265px 75px;
  &--house {
    background-image: url("../img/house-bg.jpg");

    @include tablet {
      padding: 295px 30px 190px;
    }
    @include mobile {
      text-align: center;
      padding: 120px 0;
    }
  }
  &--marble-staircase {
    background-image: url("../img/marble-staircase-bg.jpg");

    @include tablet {
      padding: 215px 30px;
    }
    @include mobile {
      text-align: center;
      padding: 120px 0;
    }
  }
  &--swirling-staircase {
    background-image: url("../img/swirling-staircase-bg.jpg");
    padding: 215px 60px;

    @include tablet {
      padding: 265px 30px;
    }
    @include mobile {
      text-align: center;
      padding: 120px 0;
    }
  }
  &__content {
    max-width: 285px;
    margin-left: auto;
    &--swirling-staircase {
      margin-left: 0;

      @include mobile {
        margin: 0 auto;
      }
    }

    @include mobile {
      margin: 0 auto;
    }
  }
  &__title {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--color-merlin);

    @include tablet {
      color: var(--color-cod);
    }
  }
  &__descr {
    color: var(--color-pine);

    @include tablet {
      color: var(--color-cod);
    }
  }
}
