.social {
  @include flex-v-center;
  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__link {
    @include bg-cover;

    display: block;
    width: 24px;
    height: 24px;
    &--twitter {
      background-image: url("../img/twitter.svg");
    }
    &--instagram {
      background-image: url("../img/instagram.svg");
    }
    &--facebook {
      background-image: url("../img/facebook.svg");
    }
  }
}
