<section class="clients">
  <div class="container clients__container">
    <div class="clients__content">
      <div class="title-uppertext clients__uppertext">prior clients</div>
      <h2 class="section-title clients__title">Happy customers.</h2>
      <p class="descr clients__descr">
        Morbi neque ex, condimentum dapibus congue et, vulputate ut ligula.
        Vestibulum sit amet urna turpis. Mauris euismod elit et nisi ultrices,
        ut faucibus orci tincidunt.
      </p>
    </div>
    <ul class="list-reset clients__list">
      <li class="clients__item">
        <a
          class="clients__link"
          href="#"
          aria-label="Hill & Hayers Company Page"
        >
          <svg>
            <use xlink:href="img/sprite.svg#client-1"></use>
          </svg>
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="#" aria-label="Riksgransen Company Page">
          <svg>
            <use xlink:href="img/sprite.svg#client-2"></use>
          </svg>
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="#" aria-label="Studio Cai Company Page">
          <svg>
            <use xlink:href="img/sprite.svg#client-3"></use>
          </svg>
        </a>
      </li>
      <li class="clients__item">
        <a
          class="clients__link"
          href="#"
          aria-label="Chill Industries Company Page"
        >
          <svg>
            <use xlink:href="img/sprite.svg#client-4"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
