<section class="firm" id="about">
  <div class="container firm__container">
    <h2 class="section-title firm__title">Our firm</h2>
    <div class="firm__content">
      <p class="descr firm__descr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut
        sem vitae risus tristique posuere.
      </p>
      <p class="descr firm__descr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut
        sem vitae risus tristique posuere.
      </p>
      <p class="descr firm__descr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut
        sem vitae risus tristique posuere.
      </p>
      <div class="firm__author person">
        <div class="person__image">
          <img
            class="person__img"
            src="img/person-1.jpg"
            alt="Stephen Collier"
            width="84"
            height="84"
          />
        </div>
        <div class="person__descr">
          <span class="person__name">Stephen Collier</span>
          <span class="person__position">Senior Partner</span>
        </div>
      </div>
    </div>
  </div>
</section>
