<footer class="footer">
  <div class="container footer__container">
    <div class="footer__content">
      <a class="logo footer__logo" href="index.html">
        <img
          class="logo__img"
          src="img/logo.svg"
          alt="Logo"
          width="220"
          height="19"
        />
      </a>
      <span class="footer__text">Powered by Webflow</span>
      <span class="footer__text"
        >All rights reserved Wishbone+Partners, Inc.Licensing</span
      >
    </div>
    <ul class="list-reset social footer__social">
      <li class="social__item">
        <a
          class="social__link social__link--twitter"
          href="#"
          aria-label="Twitter"
        ></a>
      </li>
      <li class="social__item">
        <a
          class="social__link social__link--instagram"
          href="#"
          aria-label="Instagram"
        ></a>
      </li>
      <li class="social__item">
        <a
          class="social__link social__link--facebook"
          href="#"
          aria-label="Facebook"
        ></a>
      </li>
    </ul>
  </div>
</footer>
