<header class="header">
  <div class="container header__container">
    <a class="logo header__logo" href="index.html">
      <img
        class="logo__img"
        src="img/logo.svg"
        alt="Logo"
        width="220"
        height="19"
      />
    </a>
    <nav class="nav" title="Navigation" data-menu>
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#projects" data-menu-item>Projects</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#about" data-menu-item>About</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#" data-menu-item>News</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#team" data-menu-item>Team</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#contact" data-menu-item>Contact</a>
        </li>
        <li class="nav__item">
          <a class="btn nav__link header__btn" href="#"> Get template </a>
        </li>
      </ul>
    </nav>
    <button
      class="burger"
      aria-label="Открыть меню"
      aria-expanded="false"
      data-burger
    >
      <span class="burger__line"></span>
    </button>
  </div>
</header>
