<section class="hero">
  <div class="hero__content">
    <h4 class="title-uppertext hero__uppertext">Wishbone+Partners</h4>
    <h1 class="hero__title">The home of beautiful architecture.</h1>
    <p class="descr hero__descr">
      We are an architecture firm with a focus on beautiful but functional
      design. At its heart, we believe design is about usability and
      accessibility — these are the guiding principles for our work. Read more
      about our previous projects, our process and our team below.
    </p>
    <a class="btn btn--secondary hero__link" href="#">Read more</a>
  </div>
  <div class="hero__image">
    <img class="hero__img" src="img/hero-img.jpg" alt="" />
  </div>
</section>
