<section class="process">
  <div class="container process__container">
    <div class="title-uppertext process__uppertext centered">Our process</div>
    <h2 class="section-title-big process__title centered">
      How we do what we do.
    </h2>
    <ul class="list-reset process__list">
      <li class="process__item centered">
        <picture>
          <source srcset="img/process-1.avif" type="image/avif" />
          <source srcset="img/process-1.webp" type="image/webp" />
          <img
            class="process__img"
            loading="lazy"
            src="img/process-1.jpg"
            width="117"
            height="102"
            alt="Sketching"
          />
        </picture>
        <span class="process__heading">Sketching</span>
        <p class="descr process__descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut
          tristique libero. Nulla luctus sapien ac arcu tempor, vitae tempor leo
          iaculis.
        </p>
      </li>
      <li class="process__item centered">
        <picture>
          <source srcset="img/process-2.avif" type="image/avif" />
          <source srcset="img/process-2.webp" type="image/webp" />
          <img
            class="process__img"
            loading="lazy"
            src="img/process-2.jpg"
            width="117"
            height="102"
            alt="Finalizing"
          />
        </picture>
        <span class="process__heading">Finalizing</span>
        <p class="descr process__descr">
          Adipiscing elit. Nulla ut tristique libero. Nulla vitae tempor leo
          iaculis luctus sapien ac arcu tempor, vitae.
        </p>
      </li>
      <li class="process__item centered">
        <picture>
          <source srcset="img/process-3.avif" type="image/avif" />
          <source srcset="img/process-3.webp" type="image/webp" />
          <img
            class="process__img"
            loading="lazy"
            src="img/process-3.jpg"
            width="117"
            height="102"
            alt="Building"
          />
        </picture>
        <span class="process__heading">Building</span>
        <p class="descr process__descr">
          Nulla ut tristique libero. Lorem ipsum ut tristique libero. Nulla
          luctus sapien ac arcu tempor, vitae lorem ipsum dolor leo iaculis.
        </p>
      </li>
    </ul>
  </div>
</section>
