<section class="projects" id="projects">
  <div class="container projects__container">
    <h2 class="section-title--big projects__title">Featured projects</h2>
    <p class="projects__descr">
      Some of the latest and greatest projects from us here at
      Wishbone+Partners.
    </p>
    <ul class="list-reset projects__list">
      <li class="projects__item">
        <article class="projects__article">
          <img
            class="projects__img"
            src="img/project-1.jpg"
            alt=""
            width="379"
            height="460"
          />
          <div class="projects__info">
            <div class="projects__info-top">
              <span class="title-uppertext projects__label">New York</span>
              <h3 class="projects__text">Big Road Brewery</h3>
            </div>
            <div class="projects__info-bottom">
              <a class="btn projects__btn" href="#">Read more</a>
            </div>
          </div>
        </article>
      </li>
      <li class="projects__item">
        <article class="projects__article">
          <img
            class="projects__img"
            src="img/project-2.jpg"
            alt=""
            width="379"
            height="460"
          />
          <div class="projects__info">
            <div class="projects__info-top">
              <span class="title-uppertext projects__label">New York</span>
              <h3 class="projects__text">Big Road Brewery</h3>
            </div>
            <div class="projects__info-bottom">
              <a class="btn projects__btn" href="#">Read more</a>
            </div>
          </div>
        </article>
      </li>
      <li class="projects__item">
        <article class="projects__article">
          <img
            class="projects__img"
            src="img/project-3.jpg"
            alt=""
            width="379"
            height="460"
          />
          <div class="projects__info">
            <div class="projects__info-top">
              <span class="title-uppertext projects__label">New York</span>
              <h3 class="projects__text">Big Road Brewery</h3>
            </div>
            <div class="projects__info-bottom">
              <a class="btn projects__btn" href="#">Read more</a>
            </div>
          </div>
        </article>
      </li>
    </ul>
    <div class="projects__button">
      <a class="btn btn--secondary projects__more" href="#"
        >View all projects</a
      >
    </div>
  </div>
</section>
