<section class="team" id="team">
  <div class="container team__container">
    <div class="team__content">
      <h2 class="section-title team__title">Meet our team</h2>
      <p class="descr team__descr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis.
      </p>
      <a class="btn btn--secondary team__btn" href="#">See team</a>
    </div>
    <ul class="list-reset team__list">
      <li class="team__item">
        <div class="team__author person">
          <div class="person__image">
            <img
              class="person__img"
              src="img/person-1.jpg"
              alt="Stephen Collier"
              width="84"
              height="84"
            />
          </div>
          <div class="person__descr">
            <span class="person__name">Stephen Collier</span>
            <span class="person__position">Senior Partner</span>
          </div>
        </div>
      </li>
      <li class="team__item">
        <div class="team__author person">
          <div class="person__image">
            <img
              class="person__img"
              src="img/person-2.jpg"
              alt="Nolan Peters"
              width="84"
              height="84"
            />
          </div>
          <div class="person__descr">
            <span class="person__name">Nolan Peters</span>
            <span class="person__position">Associate</span>
          </div>
        </div>
      </li>
      <li class="team__item">
        <div class="team__author person">
          <div class="person__image">
            <img
              class="person__img"
              src="img/person-3.jpg"
              alt="Ferris Wonder"
              width="84"
              height="84"
            />
          </div>
          <div class="person__descr">
            <span class="person__name">Ferris Wonder</span>
            <span class="person__position">Associate Partner</span>
          </div>
        </div>
      </li>
      <li class="team__item">
        <div class="team__author person">
          <div class="person__image">
            <img
              class="person__img"
              src="img/person-4.jpg"
              alt="Aria Stone"
              width="84"
              height="84"
            />
          </div>
          <div class="person__descr">
            <span class="person__name">Aria Stone</span>
            <span class="person__position">Senior Partner</span>
          </div>
        </div>
      </li>
      <li class="team__item">
        <div class="team__author person">
          <div class="person__image">
            <img
              class="person__img"
              src="img/person-5.jpg"
              alt="Niko Ferry"
              width="84"
              height="84"
            />
          </div>
          <div class="person__descr">
            <span class="person__name">Niko Ferry</span>
            <span class="person__position">Partner</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
